ion-tab-button{
    --background-focused: #a18ef1;
    --color-selected: #a18ef1;
    --padding-end: 0px;
    --padding-start: 10px;
    --padding-bottom: 0px;
    --margin-left:0px;
    --margin-right:0px;
}
