.About{
    display: flex;
    flex-direction: column;
    //position: fixed;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 100%;
    overflow: hidden;
    margin:auto;
    font-size: 12px;
    line-height:1.2em;
    font-family: AvenirNext Regular !important;
}


button{
    background-color:white;
}
ion-icon{
    zoom:2.5;
    background-color:white;
    --background:white;
}
