<ion-header>
</ion-header>

<ion-content>

	<ion-buttons style="padding-top:30px;">
		<button (click)="back()">
		  <ion-icon name="chevron-back-outline"></ion-icon>
		</button>
	  </ion-buttons>

	<div class="About">
		<div style="font-size:18px;font-weight:bold;font-family:AvenirNext Bold !important;padding:0 0 10px 0;">MayBook</div>
		<div style="padding:10px 0;">
			We're focused on digitizing content for everyone.
			Have any questions? Contact maybook2022@gmail.com.
		</div>

		<div style="padding:10px 0;text-indent:15px;">
			We started in Irvine, CA, where a developer found motivation and inspiration in her daily life and books
			were always one of them. 
			One day she built an app on her own so she could search, access and save them.
			MayBook is a book database service that offers users access to more than 10 million books in various topics such as Art, Engineering, Science and more.
		</div>

		<div style="padding:5px 0;text-indent:15px;">
			The Books collection is curated by the developers and current users. Searching for a book saves them to the collection.
		</div>
		<div style="padding:5px 0;text-indent:15px;">
			The Discover releases 10 books once a week of the most trending books.
		</div>
		<div style="padding:5px 0;text-indent:15px;">
			The Library has the books that you loved from the Books and Discover collection.
		</div>

		<div style="padding:10px 0;">
			How is the data used? Every search made will be saved to the app book collection. Then, the next time a user loads the app, they'll see their most recent search as well as from other users'.
		</div>
	</div>
</ion-content>
