<div style="padding: 0 0 0 10px;" *ngIf = "bookData">
  
  <span style="display:flex; justify-content: center;font-size:12px; font-style:italic; padding-bottom:20px" *ngIf="bookData.category1 != null && bookData.category1.length>0">{{bookData.category1}}</span>

  <div class="SubHeader" style="display:flex; justify-content: center;font-weight:bold;">Descriptions</div>

  <div class="DescriptionsClass" *ngIf="description1 != undefined && description1.length > 0">
    {{description1}}
  </div>

  <div class="DescriptionsClass" *ngIf="description1 != undefined && description1.length > 0">
    {{description2}}
  </div>

  <div class="DescriptionsClass" *ngIf="description1 != undefined && description1.length > 0">
    {{description3}}
  </div>

</div>