.SubHeader{
	font-size:14px; 
	margin:5px 0 5px 0;
	font-family: AvenirNext Regular !important;
	color: black;
}


.DescriptionsClass{
	text-indent:15px;
    font-size: 12px;
    color:#484b57;
    line-height:1.8em;
	padding: 0 5px 5px 5px;
}