<ion-header>
</ion-header>

<ion-content>
	<ion-buttons style="padding-top:30px;">
		<button (click)="back()">
		  <ion-icon name="chevron-back-outline"></ion-icon>
		</button>
	  </ion-buttons>

	<div class="Header">Username</div>
	<div class="Text">{{username}}</div>

	<div class="Header">Password</div>
	<div class="Text" >xxx</div>

	<ion-list>
		<ion-item routerLinkAction="active" lines="none" detail="false">
			<a style="font-size:12px;padding:0;margin:0;" ion-button (click)="deleteAccount()"><ion-icon name="trash-outline" style="zoom:1.5"></ion-icon> Delete Account</a>
		</ion-item>
	</ion-list>
</ion-content>
